body {
  font-family: Arial, sans-serif;
  background: lightcyan;
  padding: 20px;
}

h1 {
  text-align: center;
}

.products {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  background: white;
  padding: 15px;
  width: 230px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: rgb(20, 182, 20);
}

.items {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.items_control {
  cursor: pointer;
  padding: 5px 12px;
  background: #eee;
  border-radius: 5px;
  font-weight: bold;
}

.add-to-cart {
  background: #3498db;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.cart {
  margin-top: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.cart-item img {
  width: 60px;
  border-radius: 5px;
}

.cart-info {
  flex-grow: 1;
}
